.hero-container{
    margin-top: 40px;
}

.hero-heading{
    font-family: 'Poppins';
    color:var(--white);
    font-weight: 500;
    font-size: 50px;
}

.separate-color{
    color:var(--yellow);
    font-weight: 700;
}

.hero-secondary-heading{
    color:var(--white);
    font-family: "Source Code Pro", monospace;
    font-size: 31px;
}
.hero-description{
    font-size: 26px;
    color: var(--white);
    font-family: "Source Code Pro", monospace;
    padding: 0;
    margin-bottom:6px;
}

.resume-download-btn{
    margin-top: 30px;
    padding:10px 30px;
    font-size: 18px;
    background-color: var(--yellow);
    border: 2px solid var(--bg-black);
    border-radius: 4px;
}

.resume-download-btn:hover{
    background-color: var(--yellow);
    color: var(--bg-black);
    border: 2px solid var(--bg-black);
    box-shadow: 4px 4px 0 var(--white);
}

@media only screen and (max-width:1399px){
    .hero-description{
        font-size: 22px;
    }

    .resume-download-btn {
        margin-top: 30px;
        padding: 7px 26px;
        font-size: 16px;
    }
}

@media only screen and (max-width:1199px){
    .hero-heading{
        font-size: 40px;
    }
    .hero-secondary-heading{
        font-size: 25px;        
    }
    .hero-description{
        font-size: 18px;
    }

    .resume-download-btn {
        margin-top: 30px;
        padding: 5px 17px;
        font-size: 15px;
    }

    .tapabrata-image{
        height: auto;
        width: 430px;
    }
}


@media only screen and (max-width:680px){
    .tapabrata-image{
        height: auto;
        width: 360px;
    }

    .hero-heading {
        font-size: 32px;
    }
}