

.contact-heading{

    font-size: 35px;
    font-weight: 600;
    color:var(--white);
}

.contact-me-form-container{
    background-color: var(--yellow);
    border-radius: 4px;
    border: 2px solid var(--bg-black);
    box-shadow: 8px 8px 0 var(--white);
}

.form-control{
    height: 54px;
    border:2px solid var(--bg-black);
    background-color: var(--white);
    
}

.form-control:focus{
    /* background-color: transparent; */
    border:2px solid var(--bg-black);
    /* outline:2px solid var(--bg-black); */
    outline: none;
    color: var(--bg-black);
}

textarea.form-control{
    height: 94px;
}

.get-in-touch-info{
    margin-bottom: 2px;
    font-size: 18px;
    color: var(--white);
}

.contact-form-sbmit-button{
    background-color: var(--yellow);
    border: 2px solid var(--bg-black);
    color: var(--bg-black);
    padding: 5px 20px;
    border-radius: 4px;
}

.contact-form-sbmit-button:hover{
    color: var(--white);
    outline: none;
    border: 2px solid var(--bg-black);
    background-color: var(--bg-black);
    box-shadow: 3px 3px 2px var(--white);
    transition: 0.3s;
}

input::placeholder{
    color: rgb(123, 123, 123) !important;
    opacity: 1;
    font-size: 14px;
}