.logo{
    color: var(--white);
    font-size: 70px;
    font-weight: 600;
}
.logo-dot{
    color: var(--yellow);
    font-size: 90px;
    line-height: 0;
}

.main-menu-items{
    height: 100%;
    gap: 80px;
}

.main-menu-items > .menu-item > a{
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    /* font-family: "Courier Prime", monospace; */
}

.menu-item:hover::after{
    transition: 0.9s ease-in-out;
    margin-top: 5px;
    content: '';
    height: 3px;
    width: 100%;
    display: block;
    border-radius: 6px;
    background-color: var(--yellow);
}

.menu-item:hover{
    color: var(--blue);
}

.menu-item:hover::after{
    background-color:var(--yellow);
    transition: 0.8s ease-in-out;
}

.Menu-bar-mob{
    display: none;
}

.hambuger-menu{
    color: var(--white);
}

@media only screen and (max-width:1199px){
    .main-menu-items {
        height: 100%;
        gap: 40px;
    }
}


@media only screen and ( max-width:767px){
    .main-menu-col{
        display:none;
    }

    .logo {
        font-size: 55px;
    }

    .logo-on-canvas{
        font-size: 55px;
        color: var(--white);
        font-weight: 600;
        background-color: var(--bg-black);
        padding: 10px;
        border-radius: 4px;
        box-shadow: 8px 8px 0 var(--white);
    }

    .logo-dot-on-canvas{
        color: var(--yellow);
        font-size: 70px;
        line-height: 0;
    }

    .Menu-bar-mob{
        display: block;
    }

    .offcanvas{
        background-color: var(--yellow);
    }

    .mobile-menu-items > li {
        background-color: var(--bg-black);
        padding: 16px 12px;
        border-radius: 6px;
        box-shadow: 4px 4px 0 var(--white);
        margin-bottom: 20px;
    }

    .mobile-menu-items > li > a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}

@media only screen and ( max-width:680px){
    .main-menu-col{
        display:none;
    }

    .logo {
        font-size: 55px;
    }

    .logo-on-canvas{
        font-size: 55px;
        color: var(--white);
        font-weight: 600;
        background-color: var(--bg-black);
        padding: 10px;
        border-radius: 4px;
        box-shadow: 8px 8px 0 var(--white);
    }

    .logo-dot-on-canvas{
        color: var(--yellow);
        font-size: 70px;
        line-height: 0;
    }

    .Menu-bar-mob{
        display: block;
    }

    .offcanvas{
        background-color: var(--yellow);
    }

    .mobile-menu-items > li {
        background-color: var(--bg-black);
        padding: 16px 12px;
        border-radius: 6px;
        box-shadow: 4px 4px 0 var(--white);
        margin-bottom: 20px;
    }

    .mobile-menu-items > li > a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}